html {
  margin: 0;
}

:root {
  --color-primary: #0042e9;
  --color-secondary: #0e1111;
  --color-secondary-trans: #0e1111bd;
  --color-tertiary: #dadada;
  --color-tertiary-trans: #dadadabd;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

image {
  object-fit: cover;
}

/* .cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 70;
  border: 2px solid #ffffff00;
  backdrop-filter: invert(1);
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: all 0.5s ease-out 0s;
} */

.disappear {
  opacity: 0;
}

.click {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-primary);
  backdrop-filter: invert(1) brightness(1.5) contrast(1.5);
}

.hover {
  width: 50px;
  height: 50px;
  border: 6px solid var(--color-primary);
  backdrop-filter: invert(1) brightness(1.5) contrast(1.5);
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 45px;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.preloader p {
  color: var(--color-secondary);
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
}

.navb {
  background-color: var(--color-tertiary-trans);
  backdrop-filter: blur(15px) saturate(180%);
  color: var(--color-secondary);
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 10px;
  border: var(--color-secondary) 1px solid;

  z-index: 67;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);

  box-shadow: 0px 0px 20px 0px var(--color-secondary-trans);
  box-sizing: content-box;
}

.navb .contained {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navb .contained i {
  display: none;
}

.navb .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 0 0 10px;
  border: 0;
  background-color: transparent;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.navb .logo img {
  height: 60px;
  width: 60px;
  z-index: 65;
  filter: saturate(2);
  transition: all 0.1s ease;
}

.navb .logo:hover img {
  filter: saturate(0);
}

.navb ul {
  list-style: none;
  margin: 0 10px 0 0;
}

.navb ul li {
  display: inline;
  margin: 0 10px;
}

.navb ul li a {
  padding: 7px;
  color: var(--color-secondary);
  font-weight: 200;
  font-size: 1.25rem;
  text-decoration: underline #323232;
  text-underline-position: under;
  text-underline-offset: 5px;
  transition: all 0.25s ease-out 0s;
}

.navb ul li a:hover {
  color: var(--color-secondary);
  text-decoration: underline var(--color-secondary) 2px;
  text-shadow: 0 0 1px var(--color-secondary);
  text-underline-position: under;
  text-underline-offset: 0px;
}

.navb .mobile {
  position: fixed;
  top: -11px;
  left: -11px;
  opacity: 1;
  display: none;
  line-height: 1;
  flex-direction: column;
  background-color: var(--color-tertiary);
  width: 110vw;
  height: 110vh;
  z-index: 90;
}

.navb .mobile .header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 40px 20px;
}

.navb .mobile .header .logo {
  font-size: 2rem;
  line-height: 2;
}
.navb .mobile .header i {
  font-size: 2rem;
  color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navb .mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 20px;
  position: relative;
  top: -40px;
  margin: auto;
  align-items: flex-start;
  height: 100%;
}

.navb .mobile ul li a {
  text-decoration: underline 1px var(--color-secondary);
  text-underline-offset: 0px;
  font-size: 2rem;
  color: var(--color-secondary);
}
.navb .mobile ul li a::before {
  text-decoration: underline 1px var(--color-tertiary);
  content: "# ";
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-secondary);
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .navb .contained i {
    margin: 10px;
    font-size: 2rem;
    display: inline-block;
  }
  .navb ul {
    display: none;
  }
}

footer {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  text-align: center;
  box-shadow: 0px 0px 3px 0px var(--color-secondary-trans);
}

footer .footer-bottom p {
  margin: 0;
}

footer .footer-bottom {
  padding: 10px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .contained {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

footer .contained .footer-col-grp {
  display: flex;
  width: calc((100% / 3) * 2);
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

footer .contained .footer-col {
  margin: 10px;
  display: flex;
  width: calc(100% / 2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 10px;
  text-align: left;
}

footer .contained .footer-col p,
footer .contained .footer-col h3 {
  margin: 0;
}

footer .contained .footer-col a {
  color: var(--color-secondary);
  text-decoration: underline var(--color-secondary);
  text-underline-position: under;
  display: inline-block;
  margin-bottom: 5px;
}

footer .contained .footer-col .footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .contained .footer-col .footer-nav li::before {
  content: "# ";
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-secondary);
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  footer .contained .footer-col.fcsd {
    display: none;
  }
  footer .contained {
    flex-direction: column;
  }
  footer .contained .footer-col,
  footer .contained .footer-col-grp {
    width: calc(100% - 20px);
  }
}
