html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dadada;
  color: #0e1111;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #dadada;
  color: #0042e9;
  font-size: 45px;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.preloader p {
  color: #0e1111;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
}

.navbar {
  background-color: #dadadaef;
  backdrop-filter: blur(15px) saturate(180%);
  color: #0e1111;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 10px;
  border: #0e1111 1px solid;

  z-index: 998;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container i {
  display: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #0e1111;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.navbar .logo img {
  height: 60px;
  width: 60px;
  filter: brightness(1.5);
}

.navbar ul {
  list-style: none;
  margin: 0 10px 0 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.navbar ul li a {
  color: #0e1111;
  font-weight: 200;
  font-size: 1.25rem;
  text-decoration: underline #dadada00;
  text-underline-position: under;
  text-underline-offset: 15px;
  transition: all 0.3s ease 0s;
}

.navbar ul li a:hover {
  color: #0e1111;
  text-decoration: underline #0e1111;
  text-underline-position: under;
  text-underline-offset: 0px;
}

.navbar .mobile {
  position: fixed;
  top: -11px;
  left: -11px;
  opacity: 1;
  display: none;
  flex-direction: column;
  background-color: #dadada;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.navbar .mobile .header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 40px 20px;
}

.navbar .mobile .header .logo {
  font-size: 2rem;
  line-height: 2;
}
.navbar .mobile .header i {
  font-size: 2rem;
  z-index: 999;
  color: #0e1111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 20px;
  position: relative;
  top: -40px;
  margin-left: 20vw;
  align-items: flex-start;
  height: 100%;
}

.navbar .mobile ul li a {
  text-decoration: underline 1px #0e1111;
  text-underline-offset: 0px;
  font-size: 2rem;
  color: #0e1111;
}
.navbar .mobile ul li a::before {
  text-decoration: underline 1px #dadada;
  content: "# ";
  font-weight: bold;
  font-size: 2rem;
  color: #0e1111;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .navbar .container i {
    margin: 10px;
    font-size: 2rem;
    display: inline-block;
  }
  .navbar ul {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 300px;
  height: 70vh;

  margin: 80px 10px 0px 10px;
  padding: 40px;
}

.hero h1 {
  font-size: 4rem;
  color: #0042e9;
  display: inline-block;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
}

.hero .btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #0e1111;
  color: #dadada;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 15px;
    text-align: left;
  }
  .hero h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .hero p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
  .hero .btn {
    font-size: 1rem;
    margin-top: 15px;
    background-color: rgba(14, 17, 17, 0.846);
    color: #dadada;
    text-decoration: underline #dadada;
    text-underline-position: under;
  }
  .hero .btn::before {
    text-decoration: underline rgba(14, 17, 17, 0.846);
    text-underline-position: under;
    font-weight: bold;
    content: "# ";
  }
}

.about {
  margin: 0px 10px;
  padding: 0px 40px 20px 40px;
}

.about h2 {
  margin: 0;
  font-size: 2.5rem;
}

.about .section-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
}

.about .section-desc img {
  height: 200px;
  border-radius: 0px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0px 15px 20px 15px;
  }
  .about .section-desc {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .about .section-desc img {
    width: 100%;
    height: auto;
    margin: 10px;
  }
}

.products {
  margin: 20px;
}

.products .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products h2 {
  margin: 10px;
  font-size: 4rem;
  position: relative;
  top: 4rem;
  z-index: 20;
  mix-blend-mode: difference;
  color: #fff;
}

.products .product {
  width: calc(33.33% - 60px);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  margin: 20px;
  border-radius: 10px;
  background-color: #dadadaef;
  backdrop-filter: blur(15px) saturate(180%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}

.products .product img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.products .product .img {
  width: 100%;
}

.products .product .product-heading {
  margin: 30px 30px 10px 30px;
  font-size: 2rem;
}

.products .product .product-desc {
  margin: 10px;
  font-size: 1rem;
}

.products .product .main {
  flex: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.products .product .main .btn {
  margin-top: 10px;
  display: inline-block;
  background-color: #0e1111;
  color: #dadada;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 900px) {
  .products h2 {
    font-size: 3rem;
    top: 0;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .products .container {
    flex-direction: column;
  }
  .products .product {
    margin: 0 0 20px 0;
    width: calc(100%);
  }
  .products .product .img .product-heading {
    font-size: 2rem;
    text-align: left;
  }
  .products .product .main .product-desc {
    text-align: left;
  }
  .products .product .main .btn {
    font-size: 1rem;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.846);
    color: #dadada;
    text-decoration: underline #dadada;
    text-underline-position: under;
  }
  .products .product .main .btn::before {
    text-decoration: underline rgba(0, 0, 0, 0.846);
    text-underline-position: under;
    font-weight: bold;
    content: "# ";
  }
}
