.mini-hero {
  /* margin: 103px 10px 10px 10px; */
  margin-top: 80px;
  padding: 20px 20px 20px 20px;
  width: calc(100%-80px);
  background-color: var(--color-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 20px 0px var(--color-secondary-trans); */
}

.mini-hero .contained {
  position: relative;
  top: 25px;
}

.mini-hero .contained * {
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
}

.mini-hero .contained h2 {
  /* color: var(--color-primary); */
  font-size: 5rem;
  color: white;
  opacity: 0.5;
  text-shadow: 0px 0px 100px black;
}

.mini-hero .contained h3 {
  /* color: var(--color-primary); */
  font-size: 4rem;
  position: relative;
  top: -50px;
  right: 50px;
  font-weight: bolder;
  text-shadow: 0 0 10px var(--color-primary);
}

/* -------------- */

main {
  padding: 40px;
  font-size: 1.5rem;
  min-height: calc(100vh - 140px - 140px);
  display: flex;
  gap: 40px;
}

main .box {
  flex: 1;
  padding: 20px;
  /* margin: 10px; */
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--color-secondary);
}

main .box h2 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 20px;
}

main .box .contact {
  display: flex;
  gap: 20px;
}

main .box .contact-col {
  flex: 1;
}

main .box .contact-col h3 {
  font-size: 2rem;
  margin: 0;
}

main .box .contact-col p {
  font-size: 1.5rem;
  margin: 0;
}
