.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 120px 10px 10px 10px;
  padding: 10px;
}

.hero h1 {
  z-index: 62;
  position: relative;
  font-size: 3rem;
  color: var(--color-primary);
  display: inline-block;
  margin: 0;
}

.hero p {
  font-size: 1rem;
  margin: 0;
}

.hero .btn {
  margin-top: 20px;
  display: inline-block;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.mini-hero {
  margin: 103px 0px 10px 0px;
  padding: 20px 20px 20px 20px;
  /* background-color: white; */
  /* width: calc(100%-80px); */
  /* box-shadow: 0px 0px 20px 0px var(--color-secondary-trans); */
  display: flex;
  flex-direction: row-reverse;
}

.mini-hero .carousel {
  box-shadow: 0px 0px 10px 0px var(--color-secondary-trans);
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
}

.mini-hero .contained {
  margin: 10px;
  /* width: 50%; */
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mini-hero .contained * {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.mini-hero .contained h1 {
  color: var(--color-primary);
  font-size: 3.5rem;
}

.mini-hero .contained p {
  font-size: 1.5rem;
  color: black;
}
.mini-hero .contained .btn {
  font-size: 1rem;
  margin-top: 15px;
  padding: 7px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  text-underline-position: under;
}

.carousel-caption {
  background-color: #000000d2;
  padding: 20px;
  margin-bottom: 25px;
}

.carousel-caption h5 {
  font-weight: bold;
}

.carousel-caption * {
  margin: 0;
}

.carousel-item img {
  object-fit: cover;
  height: 70vh;
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  text-shadow: 0 0 10px black;
  width: 90px;
  /* filter: invert(1);
  mix-blend-mode: difference; */
  font-size: 3rem;
  /* color: white; */
}

@media screen and (max-width: 768px) {
  .mini-hero {
    flex-direction: column-reverse;
    height: calc(100vh - 113px);
    width: 100%;
  }
  .carousel-item img {
    height: calc(((100vh - 113px) / 2) - 20px) !important;
  }
  .carousel-caption {
    display: block !important;
    width: 100%;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0 !important;
    border-radius: 0 0 10px 10px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .hero {
    padding: 15px;
    text-align: left;
  }
  .hero h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .hero p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
  .hero .btn {
    font-size: 1rem;
    margin-top: 15px;
    background-color: var(--color-secondary-trans);
    color: var(--color-tertiary);
    text-decoration: underline var(--color-tertiary);
    text-underline-position: under;
  }
  .hero .btn::before {
    text-decoration: underline var(--color-secondary-trans);
    text-underline-position: under;
    font-weight: bold;
    content: "# ";
  }
}

.about {
  margin: 0px 10px;
  padding: 0px 40px 20px 40px;
}

.about h2 {
  margin: 0;
  font-size: 2.5rem;
}

.about .section-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
}

.about .section-desc img {
  height: 200px;
  border-radius: 0px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0px 15px 20px 15px;
  }
  .about .section-desc {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .about .section-desc img {
    width: 100%;
    height: auto;
    margin: 10px;
  }
}

.products {
  margin: 1rem 20px 20px 20px;
}

.products .section-heading {
  font-size: 3.5rem;
  font-weight: 750;
  /* position: relative; */
  z-index: 15;
  filter: invert(1);
  mix-blend-mode: difference;
  text-align: left;
}

.products .contained {
  position: relative;
  /* top: -3rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products .product {
  width: calc(20% - 20px);
  height: calc(100vh - 293px);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;

  margin: 10px;
  border-radius: 10px;
  background-color: var(--color-tertiary-trans);
  backdrop-filter: blur(15px) saturate(180%);
  box-shadow: 0px 0px 4px 0px var(--color-secondary-trans);
}

.products .product:after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 50%, black 100%);
}

.products .product .product-img {
  height: 100%;
  object-fit: cover;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
}

.products .product h3 {
  font-size: 1.25rem;
  margin: 15px;
  z-index: 11;
  color: white;
  text-shadow: 0px 0px 10px black;
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

@media screen and (max-width: 768px) {
  .products {
    width: calc(100% - 20px);
  }
  .products .contained {
    width: calc(100% - 20px);
    flex-direction: column;
  }
  .products .product {
    width: calc(100% - 20px);
    height: 20vh;
  }
  .products .section-heading {
    font-size: 2rem;
  }
}
