.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 300px;
  height: 70vh;

  margin: 80px 10px 0px 10px;
  padding: 40px;
}

.hero h1 {
  font-size: 4rem;
  color: #0042e9;
  display: inline-block;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
}

.hero .btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #0e1111;
  color: #dadada;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 15px;
    text-align: left;
  }
  .hero h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .hero p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
  .hero .btn {
    font-size: 1rem;
    margin-top: 15px;
    background-color: rgba(14, 17, 17, 0.846);
    color: #dadada;
    text-decoration: underline #dadada;
    text-underline-position: under;
  }
  .hero .btn::before {
    text-decoration: underline rgba(14, 17, 17, 0.846);
    text-underline-position: under;
    font-weight: bold;
    content: "# ";
  }
}

.about {
  margin: 0px 10px;
  padding: 0px 40px 20px 40px;
}

.about h2 {
  margin: 0;
  font-size: 2.5rem;
}

.about .section-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
}

.about .section-desc img {
  height: 200px;
  border-radius: 0px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0px 15px 20px 15px;
  }
  .about .section-desc {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .about .section-desc img {
    width: 100%;
    height: auto;
    margin: 10px;
  }
}

.products {
  margin: 20px;
}

.products .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products h2 {
  margin: 10px;
  font-size: 4rem;
  position: relative;
  top: 4rem;
  z-index: 20;
  mix-blend-mode: difference;
  color: #fff;
}

.products .product {
  width: calc(33.33% - 60px);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  margin: 20px;
  border-radius: 10px;
  background-color: #dadadaef;
  backdrop-filter: blur(15px) saturate(180%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}

.products .product img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.products .product .img {
  width: 100%;
}

.products .product .product-heading {
  margin: 30px 30px 10px 30px;
  font-size: 2rem;
}

.products .product .product-desc {
  margin: 10px;
  font-size: 1rem;
}

.products .product .main {
  flex: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.products .product .main .btn {
  margin-top: 10px;
  display: inline-block;
  background-color: #0e1111;
  color: #dadada;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 900px) {
  .products h2 {
    font-size: 3rem;
    top: 0;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .products .container {
    flex-direction: column;
  }
  .products .product {
    margin: 0 0 20px 0;
    width: calc(100%);
  }
  .products .product .img .product-heading {
    font-size: 2rem;
    text-align: left;
  }
  .products .product .main .product-desc {
    text-align: left;
  }
  .products .product .main .btn {
    font-size: 1rem;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.846);
    color: #dadada;
    text-decoration: underline #dadada;
    text-underline-position: under;
  }
  .products .product .main .btn::before {
    text-decoration: underline rgba(0, 0, 0, 0.846);
    text-underline-position: under;
    font-weight: bold;
    content: "# ";
  }
}
